@model APIXULib.WeatherModel

<div class="row">
        <div class="col-md-4">
            <h2>Weather Details</h2>
            <p>
                <h3>Current Weather</h3>
                <div>
                    City Name: @Model.location.name
                </div>
                @*<img src="@Model.current.condition.icon" alt="@Model.current.condition.text" /><br />*@
                <img src="@Model.current.condition.icon" alt="@Model.current.condition.text" style="position: relative" ; width: 100%"; /><br />
                <div style="position: relative; bottom:40px; left:20px; width: 100%; color: red; "><b>@Model.current.temp_c&#8451;</b></div>
                <div>Country: @Model.location.country</div>
                <div>Condition: @Model.current.condition.text</div>
                <div>Humidity: @Model.current.humidity</div>
                <div>Temperature: @Model.current.temp_c</div>
                <div>Wind Direction: @Model.current.wind_dir</div>
                <div>Wind Speed Kph: @Model.current.wind_kph</div>
                <div></div>

                <div>Last Updated On: @Model.current.last_updated</div>
            </p>
            @*@foreach (var forecast in Model.forecast.forecastday)
            {
                <p>
                    <h3>Forecast Weather Detail</h3>

                    <div>Date:@forecast.date</div>
                    <div>Condition:@forecast.day.condition.text</div>
                    <div>Temp:@forecast.day.avgtemp_c</div>
                    <div>Wind Kph:@forecast.day.maxwind_kph</div>
                    <div></div>
                </p>
            }*@

        </div>

    </div>